* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "chunk";
	overflow: hidden;
	color: white;
}

.brand-container {
	display: flex;
	position: relative;
	top: 0;
	width: 100%;
	height: 64px;
	align-items: center;
	background-color: #212121;
}
.brand h3 {
	font-size: 28px;
	color: white;
}

.container {
	display: flex;
	width: 100%;
}
.container .leftSide {
	display: flex;
	position: relative;
	height: 100vh;
	
	-webkit-flex-grow: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	background-color: #2F3847;
	justify-content: center;
	flex-direction: column;
	padding: 2%;
	width: 10vw;
}
.container .leftSide input[type=text] {
	width: 100%;
	height: 45px;
	border: none;
	margin-top: 7px;
	padding: 10px;
}
.container .leftSide label,
.container .leftSide input[type=file] {
	margin-top: 20px;
}
.container .leftSide .preview {
	height: 50vh;
	width: 100%;
	background-color: #212121;
}

.container .rightSide {
	position: relative;
	height: 100vh;
  flex-grow: 2;
	background-color: #ecf0f1;
	padding: 10px;
	width: 50vw;
	overflow-y: scroll;
}

/*.container .rightSide .products {
	width: 70vw;
}*/
.container .rightSide .item {
	display: inline-block;
	width: 200px;
	height: 250px;
	background-color: #2F3847;
	border-radius: 10px; 
	padding: 10px;
}
.view-img {
	width: 100%;
	height: 125px;
	overflow: hidden;
	background-color: #999;
}
.view-img img {
	width: 100%;	
}
.item a {
	color: beige;
	font-weight: bold;
}

#add {
	width: 100%;
	height: 20px;
	border: none;
	margin-top: 5px;
}